/.gitattributes
/.idea
/.vscode
/13 - 29 Feb - 2024.pdf
/404
/5-squares-per-inch-green-graph-paper-a4-watermarked.pdf
/about.jpg
/admin-dashboard.html
/admin-login.html
/admin.css
/admin.html
/admin.js
/adminlogin.html
/AI-chat.html
/Apartment1.png
/Apartment2.png
/Apartment3.png
/app
/App.jsx
/app.py
/Apps
/arrow_icon.png
/asset
/assets.js
/auth.js
/background of website.png
/background-image-before.png
/background.png
/Background1.jpg
/background2.jpg
/basketball.png
/Botim_Setup_1.7.5.exe
/brain game.png
/Buildbox3.exe
/buisness.png
/bulb_icon.png
/c
/cafeteria.png
/camera.svg
/capcut_capcutpc_0_1.2.6_installer.exe
/cart.html
/cart.js
/certificate.jpg
/CHANGELOG.md
/chat
/chat.html
/chat1.html
/ChromeSetup.exe
/code_icon.png
/colour.scss
/compass_icon.png
/component
/congrulation.png
/contact.html
/content.html
/content.js
/contentDetails.html
/contentDetails.js
/CONTRIBUTING.md
/Country.docx
/creative.png
/css
/desktop.ini
/dist
/dream-house-pictures.html
/Eid ul Fitr.mp4
/EID-UL-ADHA.mp4
/embedded.d.ts
/embedded.js
/example.eml
/externalLinkPage.html
/Flappy Bird.png
/footer.html
/form.css
/gallery_icon.png
/gallery_icon2.png
/gemini_icon.png
/GitHubDesktopSetup-x64.exe
/global.scss
/GoogleDriveSetup (1).exe
/header.html
/helper.html
/history_icon.png
/images
/img
/index
/index.css
/index.d.ts
/index.html
/index.js
/index.php
/index.scss
/index.typescript
/index1.html
/iphone.PNG
/js
/lang-en.json
/lang-es.json
/leave.svg
/lecture 1 force and friction
/lecture image.png
/library.png
/LICENSE.md
/login-portal.html
/login.html
/logo.png
/london.png
/M.OMER.bbdoc
/M8AgvY1CRRix17ARS7O_Og_0af444dc92ba40b39bd51ba0052382f1_Starter.zip
/main
/main.css
/main.js
/meeting.html
/meeting.js
/meeting.scss
/menu_icon.png
/MERN-School-Management-System-main.zip
/message_icon.png
/microphone.svg
/mic_icon.png
/more-information.html
/mute48.png
/my file.py
/MY WORK.docx
/MY.docx
/newyork.png
/node-v22.12.0-x64.msi
/nodejs-tutorial.md
/omer.png
/orderPlaced.html
/orderPlaced.js
/oss_attribution.txt
/package.json
/past_paper_practice___QP_Edexcel_Physics_paper_2_N232005-1[1][1].pdf
/plus_icon.png
/portal
/precall.html
/precall.js
/precall.scss
/privacy-policy.html
/pygame-1.9.6.tar.gz
/pyscripter.exe
/question_icon.png
/README.md
/right_img.png
/rise.py
/road teaxture.jpg
/Screenshot 2024-07-06 074232.png
/Screenshot 2024-07-06 080945.png
/Screenshot 2024-07-10 133421.png
/send_icon.png
/server.js
/setting_icon.png
/simple game 1.py
/slider.html
/sound48.png
/style
/style.css
/styles.css
/tates-of-matter.pdf
/Teacher and Student portal
/TeamViewer.lnk
/template.html
/terms-and-conditions.html
/test
/test.py
/text.c#
/The Battle Of Bader.pptm
/The Howmtown Agency logo.png
/token.js
/Untitled.png
/uploads
/user1.jpg
/user2.jpg
/user_icon.png
/Utils
/venv
/verification
/verification.html
/video-sdk-token-server
/video.svg
/volume-off.svg
/volume-on.svg
/washington.png
/whiteboard.html
/youtubemoviemaker.exe
/youtube_icon.png
/zoom
/zoom-clone
/zoom-teacher.html
/zoom.env
/zoom.html
/~$ountry.docx